# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
media/
staticfiles/

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/
android/
linux/
windows/
macos/

# Logs e IDEs
*.log
.vscode/
.idea/
.history/
.cursor/

# Arquivos de documentação que o agente adora ler e gastar token
*.md
docs/
